//body, default

$body_background: rgb(63, 63, 63);
$default_color: white;

$white: rgb(241, 240, 240);
$super_light_gray: rgb(219, 219, 219);
$lighter_gray: rgb(188, 188, 188);
$lighter_gray2: rgb(75, 75, 75); 
$gray: rgb(63, 63, 63);
$darker-gray: rgb(53, 53, 53);
$yet_darker_gray: rgb(39, 39, 39);
$black: black;

$red: rgb(255, 77, 77);
$light_red: rgb(255, 110, 110);
$light_yellow: rgb(255, 255, 160);
$light_blue: rgb(110, 110, 255);
$light_cyan: rgb(109, 150, 215);
$light_purple: rgb(226, 111, 226);


$dark_blue: rgb(47, 53, 65);